@import '~bootstrap/scss/bootstrap';

body {
  background-color: darkgrey;
}

#add-game-form {
  display: none;
}

#change-password-form,
#show-change-password,
#show-add-game,
#show-update-game,
#update-game-form,
#sign-out-btn,
#index-games-btn,
#find-game-form,
#delete-game-form {
  display: none;
}
